ol {
  counter-reset:li; /* Initiate a counter */
  margin: 40px;
  padding: 0;
  font-family: sans-serif;
  width: 400px;
  li {
    list-style:none; /* Disable the normal item numbering */
    position:relative; /* Create a positioning context */
    margin:0 0 16px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:6px 18px; /* Add some spacing around the content */
    background:rgba(221, 122, 129, 0.1);
    &:before {
      content:counter(li); /* Use the counter as content */
      counter-increment:li; /* Increment the counter by 1 */
      /* Position and style the number */
      position:absolute;
      top: -16px;
      left: -30px;
      box-sizing:border-box;
      width:2em;
      /* Some space between the number and the content in browsers that support
         generated content but not positioning it (Camino 2 is one example) */
      margin-right:8px;
      color:rgba(237, 65, 87, 1.00);
      // background:rgba(237, 65, 87, 1.00);
      font-weight:bold;
      font-family:"Helvetica Neue", Arial, sans-serif;
      font-size: 30px;
      text-align:center;
    }
  }
}